In [705]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [706]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1748,tt0292963,18000000,25005257,Before the Devil Knows You're Dead,Philip Seymour Hoffman|Ethan Hawke|Albert Finn...,Sidney Lumet,No one was supposed to get hurt.,When two brothers organize the robbery of thei...,117,Crime|Drama|Thriller,Capitol Films|Linsefilm|Unity Productions|Mich...,9/26/2007,6.7,2007
1207,tt1588173,35000000,116980662,Warm Bodies,Nicholas Hoult|Teresa Palmer|Analeigh Tipton|R...,Jonathan Levine,Cold body. Warm heart.,After a zombie becomes involved with the girlf...,97,Horror|Comedy|Romance,Summit Entertainment,1/31/2013,6.4,2013
254,tt0780521,105000000,267045765,The Princess and the Frog,Anika Noni Rose|Bruno Campos|Keith David|Micha...,Ron Clements|John Musker,Every Love Story Begins With a Kiss...,"A waitress, desperate to fulfill her dreams as...",97,Romance|Family|Animation|Music,Walt Disney Pictures|Walt Disney Animation Stu...,12/8/2009,6.5,2009
775,tt1253864,75000000,226904017,Immortals,Mickey Rourke|Kellan Lutz|Isabel Lucas|Henry C...,Tarsem Singh,The Gods need a hero.,Theseus is a mortal man chosen by Zeus to lead...,110,Fantasy|Action|Drama,Virgin Produced|Mark Canton Productions,11/10/2011,5.6,2011
1034,tt1430626,60000000,118338361,The Pirates! In an Adventure with Scientists!,Hugh Grant|Brendan Gleeson|Jeremy Piven|Brian ...,Peter Lord|Jeff Newitt,It's A Plunderful Life,"In The Pirates! Band of Misfits, Hugh Grant st...",88,Animation|Adventure|Family|Comedy,Columbia Pictures|Aardman Animations|Sony Pict...,3/12/2012,6.4,2012

In [707]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [708]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget
data['release_year'] = data['release_date'].apply(lambda x: int(str(x)[-4:]))
data['release_month'] = data['release_date'].apply(lambda x: int(str(x).split('/')[0]))
data['len_title'] = data['original_title'].apply(lambda x: len(str(x)))
data['len_overview'] = data['overview'].apply(lambda x: len(str(x).split()))
#the time given in the dataset is in string format.
#So we need to change this in datetime format

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [709]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'tt1298650'
# если ответили верно, можете добавить комментарий со значком "+"

In [710]:
data[data['budget'] == data['budget'].max()].imdb_id.values[0]
# +

'tt1298650'

ВАРИАНТ 2

In [711]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [712]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'tt0279111'

In [713]:
data[data['runtime'] == max(data['runtime'])].imdb_id.values[0]
# +

'tt0279111'

# 3. Какой из фильмов самый короткий (в минутах)?

In [714]:
data[data['runtime'] == min(data['runtime'])]
answers['3'] = 'tt1449283'
# +

# 4. Какова средняя длительность фильмов?

In [715]:
answers['4'] = data['runtime'].mean()
# +

# 5. Каково медианное значение длительности фильмов?

In [716]:
answers['5'] = data['runtime'].median()
# +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [717]:
answers['6'] = data[data['profit'] == data['profit'].max()].imdb_id.values[0]
# +

# 7. Какой фильм самый убыточный?

In [718]:
answers['7'] = data[data['profit'] == data['profit'].min()].imdb_id.values[0]
# +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [719]:
answers['8'] = len(data[data['profit'] > 0])
# +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [720]:
data2008 = data[(data['release_year'] == 2008)]
answers['9'] = data2008[data2008['revenue'] == data2008['revenue'].max()].imdb_id.values[0]
# +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [721]:
temp = data.query('2011<release_year<2015')
answers['10'] = temp[temp['profit'] == temp['profit'].min()].imdb_id.values[0]
# +

# 11. Какого жанра фильмов больше всего?

In [722]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
t = pd.Series([], dtype=pd.StringDtype())
for i in data['genres']:
    t = t.append(pd.Series(i.split('|')), ignore_index=True)
answers['11'] = t.value_counts().index[0]
#+

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [723]:
t = pd.Series([], dtype=pd.StringDtype())
for i in data.query('profit>0')['genres']:
    t = t.append(pd.Series(i.split('|')), ignore_index=True)
answers['12'] = t.value_counts().index[0]
#+

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [724]:
temp = data.copy()
temp['director'] = temp['director'].str.split('|')
answers['13'] = temp.explode('director').groupby('director')['revenue'].sum().sort_values(ascending=False).index[0]
# +-

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [725]:
temp = data[data['genres'].str.contains('Action')].copy()
temp['director'] = temp['director'].str.split('|')
answers['14'] = temp['director'].explode().value_counts().index[0]
# -+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [726]:
temp = data[data['release_year'] == 2012].copy()
temp['cast'] = temp['cast'].str.split('|')
answers['15'] = temp.explode('cast').groupby('cast')['revenue'].sum().sort_values(ascending=False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [727]:
t = pd.Series([], dtype=pd.StringDtype())
for i in data[data['budget']>data['budget'].mean()]['cast']:
    t = t.append(pd.Series(i.split('|')), ignore_index=True)
answers['16'] = t.value_counts().index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [728]:
t = pd.Series([], dtype=pd.StringDtype())
for i in data[data['cast'].str.contains('Nicolas Cage')]['genres']:
    t = t.append(pd.Series(i.split('|')), ignore_index=True)
answers['17'] = t.value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [729]:
temp = data[(data['production_companies'].str.contains('Paramount Pictures'))]
answers['18'] = temp[temp['profit'] == temp['profit'].min()].imdb_id.values[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [730]:
answers['19'] = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [731]:
answers['20'] = data[data['production_companies'].str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [732]:
data.groupby('release_month')['revenue'].sum().sort_values(ascending=False)
answers['21'] = data['release_month'].value_counts(ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [733]:
answers['22'] = len(data.query('5<release_month<9'))

# 23. Для какого режиссера зима – самое продуктивное время года?

In [734]:
answers['23'] = data.query('release_month == 1 | release_month == 2 | release_month == 12')['director'].value_counts().index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [735]:
answers['24'] = data[data['len_title'] == data['len_title'].max()].imdb_id.values[0]

In [736]:
temp = data.copy()
temp['production_companies'] = temp['production_companies'].str.split('|')
temp.explode('production_companies')[temp['len_title'] == temp['len_title'].max()]['production_companies']

<ipython-input-736-6ce06dac3dc5>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  temp.explode('production_companies')[temp['len_title'] == temp['len_title'].max()]['production_companies']

1448    Twentieth Century Fox Film Corporation
1448                   Four By Two Productions
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [737]:
temp = data.copy()
temp['production_companies'] = temp['production_companies'].str.split('|')
answers['25'] = temp.explode('production_companies').groupby('production_companies')['len_overview'].mean().sort_values(ascending=False).index[0]
#str(data[data['len_overview'] == data['len_overview'].max()]['production_companies']).split('|')

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [738]:
answers['26'] = data.loc[(data['vote_average'] > data['vote_average'].value_counts(bins=100).index[99].left) & (data['vote_average'] <= data['vote_average'].value_counts(bins=100).index[99].right)].imdb_id

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [739]:
temp_list = data.cast.str.split('|').copy()
temp_list.apply(lambda x: x.sort())
temp_list = temp_list.apply(lambda x: list(map(' | '.join,list(map(list,itertools.combinations(x,2))))))
temp_list.explode().value_counts(ascending=False)

Daniel Radcliffe | Rupert Grint         8
Emma Watson | Rupert Grint              8
Daniel Radcliffe | Emma Watson          8
Ben Stiller | Owen Wilson               6
Helena Bonham Carter | Johnny Depp      6
                                       ..
Alexis Georgoulis | Alistair McGowan    1
Aaron Eckhart | Adam Brody              1
PenÃ©lope Cruz | Ray Liotta             1
Malcolm McDowell | Tyler Mane           1
Daniel Gillies | Laz Alonso             1
Name: cast, Length: 17943, dtype: int64

# Submission

In [740]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'tt1298650',
 '2': 'tt0279111',
 '3': 'tt1449283',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'tt0499549',
 '7': 'tt1210819',
 '8': 1478,
 '9': 'tt0468569',
 '10': 'tt1210819',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'tt0267626',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'tt0443453',
 '25': 'Midnight Picture Show',
 '26': 76      tt1528854
 97      tt2279373
 112     tt1018765
 117     tt3614530
 183     tt1234721
           ...
 1832    tt0215129
 1846    tt0204946
 1851    tt0209958
 1871    tt0171433
 1873    tt0160009
 Name: imdb_id, Length: 84, dtype: object}

In [629]:
# и убедиться что ни чего не пропустил)
len(answers)

26